// GitHubのパブリックリポジトリのバッチを緑色にする
.public .Label.Label--secondary {
  --label-h: 137;
  --label-s: 63;

  color: hsl(var(--label-h), calc(var(--label-s) * 0.88%), 47%);
  border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), 42%, 0.5);
}
