.view_pc .play-Container_Imagemaker {
	flex: none;
}
.imagemaker_canvas_wrapper {
	max-height: 100%;
	height: 100%!important;
	flex: 1!important;
}
.imagemaker_control_wrapper {
	width: 400px;
	flex: none;
}
.play-Imagemaker {
	flex-direction: row;
	height: 100%!important;
}
