/* Twitterロゴ */
svg.r-lrsllp.r-8kz0gk > g > path {
/* 	d: path("M 23.643 4.937 c -0.835 0.37 -1.732 0.62 -2.675 0.733 c 0.962 -0.576 1.7 -1.49 2.048 -2.578 c -0.9 0.534 -1.897 0.922 -2.958 1.13 c -0.85 -0.904 -2.06 -1.47 -3.4 -1.47 c -2.572 0 -4.658 2.086 -4.658 4.66 c 0 0.364 0.042 0.718 0.12 1.06 c -3.873 -0.195 -7.304 -2.05 -9.602 -4.868 c -0.4 0.69 -0.63 1.49 -0.63 2.342 c 0 1.616 0.823 3.043 2.072 3.878 c -0.764 -0.025 -1.482 -0.234 -2.11 -0.583 v 0.06 c 0 2.257 1.605 4.14 3.737 4.568 c -0.392 0.106 -0.803 0.162 -1.227 0.162 c -0.3 0 -0.593 -0.028 -0.877 -0.082 c 0.593 1.85 2.313 3.198 4.352 3.234 c -1.595 1.25 -3.604 1.995 -5.786 1.995 c -0.376 0 -0.747 -0.022 -1.112 -0.065 c 2.062 1.323 4.51 2.093 7.14 2.093 c 8.57 0 13.255 -7.098 13.255 -13.254 c 0 -0.2 -0.005 -0.402 -0.014 -0.602 c 0.91 -0.658 1.7 -1.477 2.323 -2.41 Z");
 */	fill: #ffffff;
}

/* DMドロワー 削除 */
[data-testid="DMDrawer"] {
	display: none;
}

/* #話題を検索 非表示 */
[aria-label="調べたいものを検索"] {
	display: none;
}

/*TL 横幅変更*/
.r-1ye8kvj { 
	max-width: 640px;
	/* d: 640px */
}
.r-rthrr5 {
	width: 1030px;
}

/* For you を広くする 
[aria-label="ホームタイムライン"] [role="tablist"] [role="presentation"]:first-child {
	min-width: 180px;
} */

/* 最大行数指定 */
[data-testid="tweetText"] {
	display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
	-webkit-line-clamp: 6 !important;
}

/* 最大行数指定 (引用) */
.r-1fz3rvf .r-14gqq1x {
	-webkit-line-clamp: 3 !important;
}

/* 通知バッジ 非表示 */
/* [aria-label$="メインメニュー"] [aria-label$="件の未読項目"],
[aria-label$="アカウントメニュー"] .r-1t7zxhp {
	display: none;
} */

/* 常時おすすめユーザー 非表示 */
.r-1bro5k0 {
	display: none;
}

/* 広告 非表示 */
[data-testid="placementTracking"] article {
	display: none;
}

/* 画像・動画最大サイズ固定 */
.r-kzbkwu .r-1s2bzr4 a > div.r-1udh08x.r-1adg3ll {
	max-height: 280px;
}
.r-1ssbvtb .r-1adg3ll.r-1udh08x:has([aria-label="埋め込み動画"]) {
	max-height: 320px;
}

/* 引用文章 行数調節 */
.r-1fz3rvf .r-14gqq1x {
	display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

/* アカウントメニュー 非表示
[aria-label="アカウントメニュー"] {
	display: none;
} */

/* ナビゲーション フォントサイズ 調整 */
[role="navigation"] .r-adyw6z {
    font-size: 18px;
}

/* TL設定アイコンを非表示 */
[aria-label="ホームタイムライン"] {
	.r-1777fci.r-1pn2ns4 {
		display: none;
	}
	.r-1hvjb8t {
		padding-right: 0;
	}
}

/* TLとサイドバーの間隔を調整 */
.r-i5ea98 {
	margin-left: 1em;
}
.r-fif9oo {
	margin-left: 1.5em;
}/*
[role="banner"] {
	align-items: flex-start;
	max-width: 31vw;
}
[data-testid="primaryColumn"] {
	margin-left: 4vh;
}
[role="main"] .r-113js5t {
	width: 100%;
}*/

/* 検索で 認証ユーザー(Blue) の表示優先度を下げる */
/* 引用動画 の表示優先度を下げる */
[aria-label="タイムライン: タイムラインを検索"] article:has(.r-zl2h9q [aria-label="認証済みアカウント"].r-1cvl2hr),
[aria-label="タイムライン: タイムラインを検索"] article:has(.r-14gqq1x) {
	max-height: 80px;
	opacity: 20%;
}

/* 検索でメディアの高さを */
[data-testid="card.layoutLarge.media"] a {
	flex-direction: row;
	
	> div.r-1udh08x.r-1adg3ll {
		width: calc(129px * 1.618);
		height: 129px;
	}
	
	.r-37j5jr {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
}
